* {
       margin: 0;
       padding: o;
       box-sizing: border-box;
     }

     ul {
       list-style-type: none;
       margin: 0px auto;
       padding: 0;
       overflow: hidden;
       position: fixed;
       width: 100%;
       background-color: #b0c5b4;
       top: 0px;
       z-index: 1;
     }


     li {
       float: right;
     }

     li a {
       display: block;
       color: primary;
       text-align: center;
       padding: 16px;
       text-decoration: none;
     }

     li a:hover {
       opacity: 0.5;
     }
     /*h1 {
       color: white;
       font-family: "Courier";
       font-size: 40px;
       margin: 25% 0 0 24%;
       width: 20em;
       animation: type 4s steps(60, end);
       white-space: nowrap;
       overflow: hidden;
     }*/

     span {
       animation: blink 1s infinite;
     }

     @keyframes type {
       0% {
         width: 0px;
       }
     }

     @keyframes blink {
       to {
         opacity: .0;
       }
     }

     hr {
       margin: 5% 25% 0 25%;
       height: 10px;
       border: 0;
       box-shadow: 0 20px 30px -10px #F5CF8E inset;
     }

     .smaller-image {
       width: 300px;
       height: auto;
       border: solid;
     }
     /*RESPONSIVE STYLES*/
     /*Mobile Styles*/
     /*@media only screen and (max-width: 400px) {
       h1 {
         color: white;
         font-family: "Courier";
         font-size: 20px;
         margin: 25% 0 0 1%;
         width: 20em;
         animation: type 4s steps(60, end);
         white-space: nowrap;
         overflow: hidden;
       }
       .smaller-image {
         width: 100px;
         height: 100;
         margin: 10% 0 0 60%;
         border-radius: 10px;
       }


     body {
       background-image: url(http://res.cloudinary.com/cozycodr03/image/upload/c_fill,h_800,w_1250/v1490304403/pexels-photo-64778_j5cojm.jpg);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
     }

     img {
       width: 100%;
       height: auto;
     }

p {
       color: white;
       font-family: "Courier";
       font-size: 10px;
       margin: -80% 0 0 20%;
       overflow: hidden;
}
h2 {
       color: white;
       font-family: "Courier";
       font-size: 35px;
       margin: 2% 0 0 40%;
     }*/
     /*Tablet Styles */
     /*     @media only screen and (min-width: 401px) and (max-width: 960px) {
       h1 {
         color: white;
         font-family: "Courier";
         font-size: 35px;
         margin: 10% 0 0 15%;
         width: 20em;
         animation: type 4s steps(60, end);
         white-space: nowrap;
         overflow: hidden;
       }
       .smaller-image {
         width: 200px;
         height: auto;
         margin: 10% 0 0 60%;
         border-radius: 10px;
       }
     }

     body {
       background-image: url(http://res.cloudinary.com/cozycodr03/image/upload/c_fill,h_800,w_1250/v1490304403/pexels-photo-64778_j5cojm.jpg);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
     }

     img {
       width: 100%;
       height: auto;
     }
p {
       color: white;
       font-family: "Courier";
       font-size: 25px;
       margin: -15% 0 0 15%;
       overflow: hidden; */
     /*Desktop Styles*/

     @media only screen and (min-width: 961px) {
       body {
         background-image: url(http://res.cloudinary.com/cozycodr03/image/upload/c_fill,h_800,w_1250/v1490304403/pexels-photo-64778_j5cojm.jpg);
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
       }


       .smaller-image {
         width: 250px;
         height: auto;
         margin: 2% 0 0 70%;
         border-radius: 50%;
       }
     }

     h1 {
       color: white;
       font-family: "Courier";
       font-size: 50px;
       margin: 10% 0 0 22%;
       width: 20em;
       animation: type 4s steps(60, end);
       white-space: nowrap;
       overflow: hidden;
       text-shadow: 2px 2px 4px #000000;
     }

     p {
       color: white;
       font-family: "Courier";
       font-size: 30px;
       margin: -15% 0 0 15%;
       overflow: hidden;

     }

     #img-info {
       color: white;
       font-family: "Courier";
       font-size: 20px;
       margin: 15% 10% 10% 5%;
       margin-top: 100px;
       overflow: hidden;
       border: 10px solid;
       background-color: #b0c5b4;
     }
#about {
 text-shadow: 2px 2px 4px #000000;
}


     h2 {
       color: white;
       font-family: "Courier";
       font-size: 35px;
       margin: 2% 0 0 44%;
       text-shadow: 2px 2px 4px #000000;
     }
     input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}

input[type=submit] {
   background-color: #4CAF50;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

input[type=submit]:hover {
   background-color: #45a049;
}

.container {
   border-radius: 5px;
   background-color: transparent;
   padding: 20px;
}
     #contact-info {
       color: white;
       font-family: "Courier";
       font-size: 45px;
       margin: 5% 0 0 38%;
     }

     #email {
       color: white;
       font-family: "Courier";
       font-size: 40px;
       margin: 5% 0 0 15%;
     }

     .fa {
       color: white;
       padding: 20px;
       font-size: 30px;
       width: 50px;
       margin: 5% 5% 0 15%;
       text-align: center;
       text-decoration: none;
       text-shadow: 2px 2px 4px #000000;
     }

     .fa:hover {
       opacity: 0.7;
     }

     footer {
       background-color: #b0c5b4;
       color: #000000;
       font-size: 12px;
       font-weight: bold;
       text-align: center;
       margin: 5% 0 0 0;
     }
